.div1 {
    background-color: aqua;
    border: 3px solid lab(50.07% 11.33 -58.89);
    border-radius: 5px;
    width: 30vw;
}
.red {
    align-self: baseline;
    color: red;
    border: 5px solid red;
    text-align: center;
    font-size: 2rem;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    text-shadow: 4px 4px 4px red,5px 5px 6px black;
    padding-top: 5px;
    text-decoration: overline white;
}

.blue {
    align-self: center;
    height: 50px;
    font-size: 2rem;
    color: blue;
    border: 5px solid blue;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    text-shadow: 1px 1px lightcyan;
    text-decoration: underline blue;
}

.black {
    margin: 10px;
    align-self: right;
    height: 50px;
    font-size: 2rem;
    color: black;
    border: 5px solid black;
    text-align: center;
    border-radius: 5px;
    text-shadow: 1px 1px brown;
    text-decoration-line: overline underline white;
}
/* DIV1 is complete... Text Allignment and Color And Shadow. */
