div {
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    border-radius: 500px;
}
div:hover {
    background-color: #dc143c;
    border-radius: 1px;
    cursor: pointer;
}