* {
    box-sizing: border-box;
}
.container {
    border: 2px solid red;
    height: 500px;
    display: flex;
    
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* flex-direction: row; */
    
    /* gap: 10px; */
    /* row-gap: 20px; */
    /* column-gap: 10px; */
    
    flex-flow: wrap;
    
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */

    /* justify-content: center;
    align-items: center;/*can use flex-start or flex-end ,space-between ,space-evenly */
    /* gap: 5px; */ /*for align the div in center */


}
.box {
    border: 2px solid green;
    width: 100px;
}