body {
    background-color: lightgreen;
}

#id1 {
    background-color: blueviolet;
    font-family: Georgia;
    color: white;
}

.class1 {
    background-color: cornflowerblue;
    color: darkgoldenrod;
    font-family: cursive;
}